.container_login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    text-align: center;
    border: 5px solid black;
    padding: 10px;border-radius: 30px;
}

.register{
    color: black;
    position: absolute;
    left: 15px;
}
.register:hover{
    color: red;
    text-decoration: none;
}