{% extends 'layout.html' %}
{% block body %}

<form action="/loading_add_new_job" method="post">
    <div class="mb-3">
        <label for="job_id"  class="form-label">Job id</label>
        <input type="text" autocomplete="off" name="job_id" class="form-control" id="job_id">
      </div>
    <div class="mb-3">
        <label for="job_name" class="form-label">Job name</label>
        <input type="text" autocomplete="off" name="job_name" class="form-control" id="job_name">
    </div>
    <div class="mb-3">
        <div class="row form-group">
            <label for="job_start" class="col-sm-1 col-form-label">start</label>
            <div class="col">
                <div class="date-picker">
                    <input type="date"  name="job_start" id="job_start" class="form-control" min="{{ current_date }}">
                </div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="row form-group">
            <label for="job_end" class="col-sm-1 col-form-label">finish</label>
            <div class="col">
                <div class="date-picker">
                    <input type="date"  name="job_end" id="job_end" class="form-control" min="{{ current_date }}">
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-3" style="text-align: center;">
        <button type="submit" class="btn btn-primary">Add new Job</button>
    </div>
    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {% if success %}
    <div class="alert alert-primary">{{success}}</div>
    {% endif %}
</form>

{% endblock %}