{% extends 'layout.html' %}
{% block body %}
    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {% if success %}
    <div class="alert alert-primary">{{success}}</div>
    {% endif %}
    <div class="row row-cols-sm-1 row-cols-md-5 gap-3 text-center">
      <form action="/loading_add_new_team" method="post">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
          <div class="card-header text-primary">
            <div class="mb-3">
              <label for="team_number"  class="form-label">Team number</label>
              <input type="text" autocomplete="off" name="team_number" class="form-control" id="team_number">
            </div>
          </div>
          <div class="card-body text-primary">
            <div class="mb-3">
              <label for="team_name"  class="form-label">Team name</label>
              <input type="text" autocomplete="off" name="team_name" class="form-control" id="team_name" >
            </div>
            <div class="mb-3">
              <label for="describe" class="form-label">Describe</label>
              <textarea class="form-control" name="describe" id="describe" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <div class="row">
                  <button type="submit" class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      {% for team in teams %}
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header text-primary">
          <div class="mb-3">
            <p>{{team[0]}}</p>
          </div>
        </div>
        <div class="card-body text-primary">
          <div class="mb-3">
            <p>{{team[1]}}</p>
          </div>
          <div class="mb-3">
            <p>{{team[2]}}</p>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col">
                <form action="/view_team">
                  <input type="hidden" name="team_number" value="{{ team[0] }}">
                  <button type="submit" class="btn btn-primary">View</button>
                </form>
              </div>
              <div class="col">
                <form action="/delete_team" method="post">
                  <input type="hidden" name="team_number" value="{{ team[0] }}">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}