<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">NA</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="/home">Home</a>
              <a class="nav-link" href="/guide">Guide</a>
              <a class="nav-link" href="/logout">Logout</a>
              <div class="btn-group" style="margin-right: 5px;" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Add
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/add_new_employee">Add a new employee</a></li>
                  <li><a class="dropdown-item" href="/add_new_team">Add a new team</a></li>
                  <li><a class="dropdown-item" href="/add_new_job">Add a new job</a></li>
                </ul>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Display
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/display_all_employee">Display all employees</a></li>
                  <li><a class="dropdown-item" href="/display_all_jobs">Display all jobs</a></li>
                </ul>
              </div>              
            </div>
          </div>
        </div>
      </nav>
      <br>
      <div class="container">
        {% block body %}
        {% endblock %}
      </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>